margin:0px auto;
padding:0px auto;

.row-content {
margin:0px auto;
padding: 50px 0px 50px 0px;
border-bottom: 1px ridge;
min-height:400px;
}

.footer{
background-color: lightcyan;
margin:0px auto;
padding: 20px 0px 20px 0px;
}
.jumbotron{
padding:70px 30px 70px 30px;
margin:0px auto;
background: lightcyan ;
color:black;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jumbotron>div>div>div>h1{
    font-family: "Century Gothic";
    font-weight: 800;
    padding:10px 5px 10px 30px;
    box-shadow: 5px 1px 15px 5px skyblue;
    border-radius: 10px;
    color:cornflowerblue;
}

address{
font-size:80%;
margin:0px;
color:#0f0f0f;
}

.navbar-dark {
background-color: ghostwhite;
}

.gap-nav {
    margin:15px;
}

.btn-social-icon{
    margin:4px;
    border-radius: 10px;
    
}

.navbar-toggler{
    background-color: rgb(253, 59, 59);
}

.header-nav{
    background-color: #0f0f0f;
}

.card-title{
    font-weight: 700;
    font-family:  sans-serif;
}
.card-subtitle{
    font-weight: 450;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
}

.btn-group>.btn{
    padding:6px;
    margin:8px;
    border-radius: 10px;
}
.commentAuthor{
    font-size: 14px;
    color:rgb(92, 91, 91);
}

.commentsHeading{
    font-weight: 600;
    font-family: fantasy;
    box-shadow: 3px 5px 3px lightblue;
    padding: 10px;
    background-color: hsl(160, 81%, 84%);
   
}

.leaderMedia{
    margin-bottom: 35px;
    font-size: 17px;
    
}

.leaderMedia>div{
    color:black;
    padding-top: 20px;
}

.leader-section{
    margin-top: 18px;
}